<h1>User info</h1>
<p>
  <%= image_tag user.get_profile_image(100,100) %>
</p>
<span>name</span>
<span><%= user.name %></span>
<span>introduction</span>
<span><%= user.introduction %></span>
<%= link_to "⚙", edit_user_path(user.id)%>